# Record all console output to pstore-ramoops area for it to be possible
# to be read from OS in /sys/fs/pstore/console-ramoops-N
# This option also enables us to select ramoops as debug_uart
CONFIG_CONSOLE_RAMOOPS=y

CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_DEBUG_UART_BASE=0
CONFIG_DEBUG_UART_CLOCK=0
CONFIG_DEBUG_UART_SKIP_INIT=n
# CONFIG_DEBUG_UART_MSM is not set
CONFIG_DEBUG_UART_RAMOOPS=y

# Values from pioneer TWRP downstream /sys/module/ramoops/parameters/
# NOTE: Doesn't match what's in mainline Linux dts.
#       Linux won't be able to read our logs.
# console_size  262144          0x40000
# ftrace_size   0               0x0
# mem_address   4290772992      0xffc00000
# mem_size      1048576         0x100000
# pmsg_size     0               0x0
# record_size   4096            0x1000
CONFIG_DEBUG_UART_RAMOOPS_BASE=0xffc00000
CONFIG_DEBUG_UART_RAMOOPS_SIZE=0x100000
CONFIG_DEBUG_UART_RAMOOPS_CONSOLE_SIZE=0x40000
CONFIG_DEBUG_UART_RAMOOPS_FTRACE_SIZE=0x0
CONFIG_DEBUG_UART_RAMOOPS_RECORD_SIZE=0x1000
CONFIG_DEBUG_UART_RAMOOPS_PMSG_SIZE=0x0
