CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_DEBUG_UART_BASE=0x0c170000
CONFIG_DEBUG_UART_CLOCK=1843200
CONFIG_DEBUG_UART_SHIFT=0
CONFIG_DEBUG_UART_MSM=y
# CONFIG_DEBUG_UART_MSM_GENI is not set
# CONFIG_DEBUG_UART_RAMOOPS is not set

CONFIG_DEBUG_UART_BOARD_INIT=n
CONFIG_DEBUG_UART_SKIP_INIT=n

CONFIG_LOG_MAX_LEVEL=9
CONFIG_LOG_DEFAULT_LEVEL=4
CONFIG_LOGLEVEL=6
# CONFIG_SYS_DEVICE_NULLDEV is not set
CONFIG_LOGF_FILE=y
CONFIG_LOGF_LINE=y
CONFIG_LOGF_FUNC_PAD=24
