# Record all console output to pstore-ramoops area for it to be possible
# to be read from OS in /sys/fs/pstore/console-ramoops-N
# This option also enables us to select ramoops as debug_uart
CONFIG_CONSOLE_RAMOOPS=y

CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_ANNOUNCE=y
CONFIG_DEBUG_UART_BASE=0
CONFIG_DEBUG_UART_CLOCK=0
CONFIG_DEBUG_UART_SKIP_INIT=n
# CONFIG_DEBUG_UART_MSM is not set
CONFIG_DEBUG_UART_RAMOOPS=y

# Values from xiaomi-whyred downstream TWRP recovery from
#     /sys/module/ramoops/parameters/ *
CONFIG_DEBUG_UART_RAMOOPS_BASE=0xa0000000
CONFIG_DEBUG_UART_RAMOOPS_SIZE=0x400000
CONFIG_DEBUG_UART_RAMOOPS_CONSOLE_SIZE=0x200000
CONFIG_DEBUG_UART_RAMOOPS_FTRACE_SIZE=0x0
CONFIG_DEBUG_UART_RAMOOPS_RECORD_SIZE=0x0
CONFIG_DEBUG_UART_RAMOOPS_PMSG_SIZE=0x200000
