# Phone-friendly environment
CONFIG_ENV_DEFAULT_ENV_TEXT_FILE="board/qualcomm/qcom-sdm660-phone.env"

# Support for subpartitions (postmarketOS-style rootfs image containing two subpartitions)
CONFIG_BLKMAP=y
CONFIG_CMD_BLKMAP=y

# Support booting Android boot images
CONFIG_BOOTMETH_ANDROID=y
CONFIG_CMD_ABOOTIMG=y

# "Nice to have"
CONFIG_CMD_POWEROFF=y
CONFIG_CMD_UFETCH=y
CONFIG_CMD_SELECT_FONT=y
CONFIG_CMD_PMIC=y
CONFIG_VIDEO_FONT_4X6=y
CONFIG_VIDEO_FONT_8X16=y
CONFIG_VIDEO_FONT_SUN12X22=y
# Some devices, e.g. Sony logo is black on white background.
# Very annoying. Clear framebuffer.
CONFIG_NO_FB_CLEAR=n
# SDM630/636/660 don't have UFS, they need eMMC/SD card support
CONFIG_SD_BOOT=y
CONFIG_QCOM_UFS=n
# MMC HS200 works perfectly fine here
CONFIG_MMC_HS200_SUPPORT=y
# Useful for debugging SMBIOS data
CONFIG_CMD_SMBIOS=y
# TODO: This should be in qcom_defconfig once clk driver is upstream
CONFIG_CLK_QCOM_SDM660=y

# We don't need PSHOLD, SYSRESET_PSCI is working fine for us
CONFIG_SYSRESET_CMD_POWEROFF=n
CONFIG_SYSRESET_QCOM_PSHOLD=n

# This section and below is copied from qcom-phone.config
#   with some overrides for sdm630/660 platform, like MMC numbering.

# Hang on panic so the error message can be read
CONFIG_PANIC_HANG=y
# We use pause in various places to allow text to be read
# before it scrolls off the screen
CONFIG_CMD_PAUSE=y
CONFIG_BOOT_RETRY=y
CONFIG_BOOT_RETRY_TIME=1
CONFIG_BOOT_RETRY_MIN=1
CONFIG_BUTTON_REMAP_PHONE_KEYS=y
CONFIG_RESET_TO_RETRY=n
CONFIG_RETRY_BOOTCMD=y
CONFIG_USB_FUNCTION_FASTBOOT=y
CONFIG_USB_FUNCTION_ACM=y
CONFIG_CMD_UMS_ABORT_KEYED=y

# Record all console output and let it be dumped via fastboot
CONFIG_CONSOLE_RECORD=y
CONFIG_CONSOLE_RECORD_INIT_F=y
CONFIG_CONSOLE_RECORD_IN_SIZE=0x100
CONFIG_CONSOLE_RECORD_OUT_SIZE=0x6000
CONFIG_CONSOLE_RECORD_OUT_SIZE_F=0x400
CONFIG_FASTBOOT_CMD_OEM_CONSOLE=y

# In SDM630 base dtsi MMC numbering starts with 1, so we have mmc1, mmc2
#   and not mmc0, mmc1.
CONFIG_FASTBOOT_FLASH=y
CONFIG_FASTBOOT_FLASH_MMC_DEV=1
CONFIG_FASTBOOT_OEM_RUN=y

# Many phones don't actually define a serial port in their DTS
# CONFIG_REQUIRE_SERIAL_CONSOLE is not set
