# No, this is for devicetrees that are not upstream :(
CONFIG_OF_UPSTREAM=n
CONFIG_OF_UPSTREAM_BUILD_VENDOR=n
# Build all downstream dts at once
CONFIG_OF_DOWNSTREAM_BUILD_VENDOR=y
CONFIG_OF_DOWNSTREAM_VENDOR="qcom"

# This needs to be defined otherwise build fails
CONFIG_DEFAULT_DEVICE_TREE="qcom/sdm660-xiaomi-clover"
